*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.center{
    margin: auto;
    padding: auto;
    width: fit-content;
    border: 1px solid green;

}
#project-input {
    border: 1px solid green;
    width: fit-content;
    padding: 100px;
}
form{
    display: grid;
    margin: 100px;
    border: 1px solid black;
    width: 26rem;
    background-color: whitesmoke;
    padding: 20px;
}
.form-control{
    text-align: center;
    margin: 10px;
    position: relative;
    display: flex;
}
div label{
    font-weight: bolder;
    padding: 10px;
    z-index: 1;
    float: left;
    width: 100px;
    display: block;
    position: relative;
}
div input,textarea{
    font-weight: 100;
    padding: 10px;
    z-index: 1;
    float: inline-end;
    width: 200px;
    border: 1px solid rebeccapurple;
    position: relative;
}
button{
    color: green;
    border: none;
    background-color: darkgray;
    width: 10rem;
    height: 2rem;
    margin: auto;
    font-size: medium;
    text-align: center;
}
header{
    background-color: cadetblue;
    color: green;
}
li{
    list-style-type: none;
    background-color: azure;
    text-align: left;
    padding: 10px;
    width: 30rem;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}